body {
    align-items: center;
    margin-top: 30px;
    background-image: url("sumica.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 255, 162);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    border-radius: 100%;
    padding: 1px;
    width: 378px;
    margin: auto;
    border: 6px solid black;
  }

.merge { display: inline-block;}
  
.serbia {
  color: black;
  font-size: 50px;
  margin-top: -50px;
}

  .title {
    margin-top: 50px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  #image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttoncss {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description {
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 162);
    background-size: cover;
    padding: 3%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    border-radius: 30px;
    font-size: 19px;
    text-align: center;
    border: 6px solid black;
  }

    @font-face {
    font-family: "DancingScript";
    src: url("DancingScript-VariableFont_wght.ttf") format("truetype")
  }

  h1 {
    text-align: center;
    font-family: "DancingScript";
  }

  footer {
    background-color: black;
    color: white;
    text-align: center;
  }